this is the login erb
<h2> Login to you account </h2>
<form method="POST" action='/home'>
<label for="email">Email: </label>
<input type='text' id='email'>

<label for='password'>Password: </label>
<input type='Password' id='password'>
<input type='submit'>

