this is the login erb
<h2> Login to you account </h2>

<form method="POST" action='/login'>

<label for="email">Email: </label>
<input type='text' id='email'>

<label for='password'>Password: </label>
<input type='password' id='password'>

<input type='submit'>

</form>
