<h1> Welcome to Spotify Favorites! <h1>
<form method="POST" action='/'>
<h3><label for="email">Email:</label>
<input type='text' id='email_address'></h3>
<h3><label for='password'>Password:</label>
<input type='text' id='user_password'></h3>
<input type='submit' id='log_in' value='Login'>
</form>
<h3> Don't have an account?</h3>
<h3><a href="/signup">Sign Up</a>


