<h2>UH OH! Looks like there was a problem with your email address. </h2>
</br>
<h3>Pleae make sure that you are typing in your full email address, including the ' @ '</h3>
<a href='/signup'>Try again here</a>