<h1> Hello <%=User.all%></h1> 
<h1>Welcome to Spotify Favorites!</h1>

<ul>
<li><a href='/playlist/new'> Create a New Playlist </a></li>
<li><a href='/playlists'> My Playlists</a></li>
<li> <a href='/logout'>Logout</a></li>
</ul>
