<h1> Hello </h1> 
<h1>Welcome to Spotify Favorites!</h1>

 write code to display some playlist on the home page. 

<ul>
<li><a href='/playlist/:user/new'> Create a New Playlist </a></li>
<li><a href='/playlist/:user'> My Playlists</a></li>
<li> <a href='/logout'>Logout</a></li>
</ul>

# add name to the user home screen
