the user home page
<h1> Hello (#insert current user), Welcome to Spotify Favorites!</h1>

<ul>
<li><a href='/playlist/new'> Create a New Playlist </a></li>
<li><a href='/playlists'> My Playlists</a></li>
</ul>
