<h1> Hello <%=p "#{current_user.name.capitalize}!"%></h1> 
<h1>Welcome to Spotify Favorites!</h1>
<h3>Create a new playlist sound or click an existing playlist to View or Edit it</h3>
<ul>
<li><a href='/playlists/new'> Create a New Playlist </a></li>
<li><a href='/logout'><button>Logout</button></a></li>
</ul>
<h2>My Playlists</h2>
<% @playlist.each do |list|%>
<p><a href="/playlists/<%=list.id%>"><%= list.title%></a></p>
<%end%>

