<h1> Hello <%=p "#{current_user.name.capitalize}!"%></h1> 
<h1>Welcome to Spotify Favorites!</h1>

<ul>
<li><a href='/playlist/new'> Create a New Playlist </a></li>
<li> <a href='/logout'>Logout</a></li>
</ul>
<h2>My Playlists</h2>
<% @playlist.each do |list|%>
<p><a href="/playlist/<%=list.id%>"><%= list.id%></a></p>
<%end%>

