<h1> Create a New Playlist </h1>
<form method='POST' action='/playlist'>

<h3>
    <label for='title'>Title: </label>
    <input type='text' id='title'>
</h3>

<h3>
    <label for='description'>Description: </label>
    <input type='text' id='description'>
</h3>

<input type='submit'>