<h1> Create a New Playlist Sound</h1>

<form method='POST' action='/playlist'>

<h3>
    <label for='title'>Playlist Title: </label>
    <input type='text' name='playlist[info][title]'>
    </br>
    <label for='description'>Description: </label>
    <input type='text' name='playlist[info][description]'>
</h3>

<h3>
    <label for='songs'>Add a Song:</label>
    <input type ='text' name='playlist[song][name]' value='name'>
    <input type='text' name = 'playlist[song][artist]' value='artist'>
</h3>

<h4>

</h4>

</br>
<input type='submit'>
</form>