This will show a specific playlist based on an ID passed in by the params hash
<%binding.pry%>
<h1><%= p "#{@playlist.title}"%></h1>
<h3><%= p "#{@playlist.description}"%></h3>
<h5><%= p "#{@song.title} -- #{@song.artist}"%></h5>


