
<%#binding.pry%>
<h1><%= p "#{@playlist.title}"%></h1>
<h3><%= p "#{@playlist.description}"%></h3>
<h4>Add the song's title and Artist here </h4>



<a href='/playlist/<%="#{@playlist.id}"%>/edit'><button>Edit This Playlist</button></a>

<a href='/playlist'><button>Home</button></a>

<a href='/logout'><button>Logout</button></a>