
<%#binding.pry%>
<h1><%= p "#{@playlist.title}"%></h1>
<h3><%= p "#{@playlist.description}"%></h3>
<h4>Add the song's title and Artist here </h4>

<a href="/playlist/<%=@playlist.id%>/edit">Edit this playlist</a>
<a href='/delete'>


<a href='/playlist'>Home</a>
<a href='/logout'>Logout</a>




